.body{
    position: absolute;
    top:50%;
    left:30%;
    transform: translate(-50%, -50%);

}
.progress{
    position: relative;
    width: 400px;
    height: 30px;
    background: #81b4aa;
    border-radius: 5px;
    overflow: hidden;
   

 
}
.progressFill{
    width: 25%;
    height: 100%;
    background: #0c6b5a;
    animation: progres 4s infinite linear;
}
.progressText{
    position: absolute;
    top: 50%;
    right: 5px ;
    transform: translateY(-50%);
    font: bold 14px 'Quicksand', sand-serif;
    color: white;
}
@keyframes progres{
    0%{
        width: 0%;
    }
    25%{
        width: 25%;
    }
};

